---
- name: IOS facts
  hosts: GNS3-1
  gather_facts: true
  strategy: free
  tasks:
    - name: Print ansible_facts
      ansible.builtin.debug:
        msg: 
          - "{{ ansible_facts }}"
          - "{{ site }}"

